@{
	ViewData["Title"] = "Error";
}

<div class="text-center">
	<h1 class="display-4">@ViewData["Title"]</h1>
	<img src="/img/smile.png" class="rounded mx-auto d-block" width="200" height="200">
	<hr />
	<h3>Something went wrong. Try again later..</h3>
</div>

